# Importing libraries

In [2]:
#importing necessary libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Reading CSV data

In [3]:
#importing csv data
data = pd.read_csv('lending_club_loans_copy.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_10304\2989182181.py:2: DtypeWarning: Columns (0,25,34,36,46,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('lending_club_loans_copy.csv')

In [3]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

# Removing Unwanted row

In [4]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=115)

In [5]:
data.columns[0]

'id'

In [6]:
#del data['Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)']

KeyError: 'Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)'

In [ ]:
#data.columns[0]

In [ ]:
data.columns

# Updating New columns

In [ ]:
#data = data.rename({'level_0': 'id'}, axis=0)

In [ ]:
data.head(1)

In [ ]:
data

In [ ]:
data_columns=list(data.index[0])

In [ ]:
data_columns

In [ ]:
len(data_columns)

In [ ]:
data.columns

In [ ]:
#data2 = pd.read_csv('lending_club_loans.csv',names=data_columns)
#data3=pd.read_csv('lending_club_loans.csv',names=None,range(114))

In [ ]:
df = pd.DataFrame(data,columns=data_columns)

In [ ]:
df.head(2)

In [ ]:
df.columns

In [ ]:
#new_df=df.dropna()

In [ ]:
#new_df

# Total No of records in dataframe

In [10]:
data['id'].isnull().sum()

2

In [12]:
len(data['id'])

42539

In [13]:
data['member_id'].is_unique

False

In [14]:
data.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,fico_range_low,fico_range_high,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,4.253500e+04,42535.000000,42535.000000,42535.000000,42535.000000,4.253100e+04,42535.000000,42535.000000,42535.00000,42506.000000,...,0.0,0.0,0.0,1.0,41170.000000,42429.000000,0.0,0.0,0.0,0.0
mean,8.257026e+05,11089.722581,10821.585753,10139.830603,322.623063,6.913656e+04,13.372683,713.052639,717.03543,1.081777,...,NaN,NaN,NaN,0.0,0.045227,0.000024,NaN,NaN,NaN,NaN
std,2.795409e+05,7410.938391,7146.914675,7131.686447,208.927216,6.409635e+04,6.726567,36.188475,36.35456,1.529168,...,NaN,NaN,NaN,NaN,0.208737,0.004855,NaN,NaN,NaN,NaN
min,7.047300e+04,500.000000,500.000000,0.000000,15.670000,1.896000e+03,0.000000,610.000000,1.00000,0.000000,...,NaN,NaN,NaN,0.0,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,6.384795e+05,5200.000000,5000.000000,4950.000000,165.520000,4.000000e+04,8.200000,685.000000,689.00000,0.000000,...,NaN,NaN,NaN,0.0,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,8.241780e+05,9700.000000,9600.000000,8500.000000,277.690000,5.900000e+04,13.470000,710.000000,714.00000,1.000000,...,NaN,NaN,NaN,0.0,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,1.033946e+06,15000.000000,15000.000000,14000.000000,428.180000,8.250000e+04,18.680000,740.000000,744.00000,2.000000,...,NaN,NaN,NaN,0.0,0.000000,0.000000,NaN,NaN,NaN,NaN
max,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,825.000000,829.00000,33.000000,...,NaN,NaN,NaN,0.0,2.000000,1.000000,NaN,NaN,NaN,NaN

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42539 entries, 0 to 42538
Columns: 115 entries, id to total_il_high_credit_limit
dtypes: float64(85), object(30)
memory usage: 37.3+ MB

In [16]:
data = data[data['id'].isnull()]

In [17]:
data['id'].info

<bound method Series.info of 42535    NaN
42536    NaN
Name: id, dtype: object>

# Selecting "Fully Paid" and "Charged Off" loans only

In [31]:
df_loan_status = data['loan_status'].isin(['Fully Paid', 'Charged Off'])
df_loan_status

42535    False
42536    False
Name: loan_status, dtype: bool

In [ ]:
#pd.DataFrame(df['loan_status'])

In [21]:
loan_df = df_loan_status[df_loan_status]

In [22]:
loan_df

Series([], Name: loan_status, dtype: bool)

In [19]:
df_loan_status

42535    False
42536    False
Name: loan_status, dtype: bool

In [30]:
#data['loan_status'=='Fully Paid']

data[data['loan_status'] == ' ']

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, ...]
Index: []

[0 rows x 115 columns]

In [33]:
type(data['id'])

pandas.core.series.Series